{
  "branches": [
    "master",
    {
      "name": "dev",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "gradle-semantic-release-plugin",
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "gradle.properties",
          "package.json",
          "package-lock.json"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@saithodev/semantic-release-backmerge",
      {
        "backmergeBranches": [
          {"from": "master", "to": "dev"}
        ],
        "clearWorkspace": true,
        "gitAuthorName": "CUPUL-MIU-04",
        "gitAuthorEmail": "186883140+CUPUL-MIU-04@users.noreply.github.com"
      }
    ],
    [
      "@semantic-release/github",
      {
        "successComment": false,
        "labels": ["release"]
      }
    ]
  ]
}
