name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.SECRET_TOKEN }}
          persist-credentials: true
          fetch-depth: 0
      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'zulu'
          cache: gradle
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: 'npm'
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Setup semantic-release
        run: npm install
      - name: Configure Git
        run: |
          git config --global user.name "${{ secrets.SECRET_USER }}"
          git config --global user.email "${{ secrets.SECRET_USER }}@users.noreply.github.com"
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.SECRET_TOKEN }}
        run: npm exec semantic-release
